@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
 
 @font-face {
        font-family: 'Gotham Pro Medium';
        src: url('../fonts/GothamPro-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
     
 @font-face {
            font-family: 'Gotham Pro';
            src: url('../fonts/GothamPro.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }
*, *:after, *:before {
    box-sizing: border-box;
}             
body {
    margin: 0;
    background: #292929;
    color: #fff;
    font-family: 'Gotham Pro', sans-serif;
}
.header {
    padding-top: 50px;
}
.header-description, 
.footer-description {
    font-family: 'Gotham Pro Light', sans-serif;;
    letter-spacing: 0.12px;
    font-size: 12px;
}
.text-red {
    color: #ff3469;
    font-family: 'Gotham Pro Medium', serif;
}
.header-phone {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    display: block;
}
.header-info {
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    display: block;
    text-align: right;
}
.callback {
    color: #ff3469;
    text-align: right;
    display: block;
    margin-top: 16px;
    font-size: 16px;
}
.hero {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 77px;
    border-bottom: 1px solid #4c4c4c;
}
.hero-title {
    margin: auto;  
    font-size: 34px;
    margin-bottom: 34px;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.34px;
    font-family: serif;
    font-family: 'Gotham Pro Medium';
    max-width: 660px;
    
}
.hero-description {
    font-style: 18px;
    font-family: 'Gotham Pro Light';
    text-transform: uppercase;
    letter-spacing: 0.18px;
    line-height: 1.4;
    max-width: 500px;
    margin: auto;
}
.flowers-slider {
    width: 100%;
    text-align: center;
    margin-top: 87px;
    margin-bottom: 83px;
}

:root {
    --swiper-navigation-size: 18px;
}
.hero-button-prev, 
.hero-button-next {
  color: #fff;
  padding: 20px;
  
}
.hero-button-prev:hover, 
.hero-button-next:hover {
  color: #b73f3a;
}

.hero-call-to-action {
    display: block;
    font-family: 'Gotham Pro Light';
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.button {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ff2e55;
    padding-top: 30px;
    padding-left: 65px;
    padding-bottom: 26px;
    padding-right: 65px;
    margin-top: 36px;
    border: none;
    cursor: pointer;
}
.reviews {
    padding-top: 100px;
    padding-bottom: 50px;
}
.section-title {
    font-size: 30px;   
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
}
.reviews-slider {
  margin-bottom: 98px;
}
.review-slide {
    padding-left: 60px;
    padding-right: 60px;
}
.review-image {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Gotham Pro Light';
    position: relative;
    margin-right: 50px;
}
.review-image:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.review-image >* {
    position: relative;
}
.review-image-1 {
    background: #000 url('../img/review/review-1.jpg');
}
.review-image-2 {
    background: #000 url('../img/review/review-2.jpg') center;
}
.review-name {
    margin-bottom: 7px;
}
.review-text {
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 1.4;
}
.review-link {
    color: #f24841;
}
.advantages {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    border-bottom: 1px solid #4c4c4c;
}
.advantages-wrapper {
  min-height: 82px;
  margin-bottom: 30px;
}
.advantages-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  max-width: 270px;
  margin: auto;
}

.review-button-prev, 
.review-button-next {
  --swiper-navigation-size: 48px;
  color: #b73f3a;
}
.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-description {
  font-size: 18px;
  text-align: center;
}
.card {
  text-align: center;
  border: 3px solid #fff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}
.card-title {
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 20px;
}
.card-label {
  font-size: 14px;
  display: block;
  margin-top: 20px;
  margin-bottom: 7px;
}
.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}
.color-label.white {
  background-color: #fff;
}
.color-label.biege {
  background-color: #f7b496;
}
.color-label.pink {
  background-color: #ed366e;
}
.color-label.red {
  background-color: #ff0000;
}
.color-label.blue {
  background-color: #12129d;
}
.counter-input {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin-right: 15px;
  margin-left: 15px;
}
.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #292929;
  border: none;
}
.card-button {
  font-size: 14px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
}
.more {
  font-size: 14px;
  display: block;
  text-align: center;
  color: #f24841;
  margin-top: 39px;
  padding: 10px;
}
.more:after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 4px;
  background: url('../img/caret.png') no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
}
.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}
.offer-link {
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 65px;
}
.offer-label {
  display: block;
  margin-bottom: 22px;
  font-size: 14px;
}
.offer-phone {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}
.footer-menu-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}
.footer-menu-item {
  margin-right: 30px;
}
.social {
  font-size: 16px;
}
.footer-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-info, .author-info {
  text-align: right;
}
.footer-phone {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: block;
  margin-bottom: 12px;
}
.footer-white {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 45px;
}
.footer-description {
  color: #292929;
}
.author-info {
  padding-right: 35px;
}
.author, .author-link {
  color: #0a0a0a;
  font-size: 12px;
}
.modal {
  display: none;
}
.modal-title {
  color: #292929;
}
.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.modal-button {
  width: 100%;
}

@media (max-width: 768px) {
  .header, 
  .header-phone, 
  .header-info, 
  .callback, 
  .footer-white {
    text-align: center;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.6;

  }
  .hero-description {
    font-size: 16px;
    line-height: 1.6;
  }
  .button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .reviews {
    padding-bottom: 0;
  }
  .advantages {
    padding-top: 0;
  }
  .colors {
    max-width: 200px;
    margin: auto;
  }
  .card-label {
    margin: 20px auto;
    display: block;
  }
  .footer-info {
    text-align: left;
  }
  .author-info {
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .offer, 
  .footer-info, 
  .offer-title {
    text-align: left;
  }
}